[user]
	name = Fabio Alves
	email = fabio.alves@ctw.bmwgroup.com
[core]
	excludesfile = /home/fmcalves/.gitignore_global
	editor = vim
	pager = less -F
[safe]
	directory = /home/fmcalves/ctw_build_server/docker-aosp-build
[color]
	ui = auto
