! System colors

! URxvt Appearence
URxvt.background:	#000000
URxvt.foreground:	#FFFFFF
URxvt.font: 		xft:SauceCodePro Nerd Font Mono:style=Medium:size=15
URxvt.letterSpace: 	-1
URxvt.scrollBar:	false
URxvt.internalBorder: 15
URxvt.cursorColor:  #FFFFFF
URxvt.cursorBlink:	true
URxvt.saveLines:    200000


!Extensions
URxvt.perl-ext-common: 		default, resize-font
URxvt.keysym.C-Down:		resize-font:smaller
URxvt.keysym.C-Up:	  	resize-font:bigger
URxvt.keysym.C-space:     	resize-font:reset
URxvt.keysym.C-question:  	resize-font:show

